
@media(max-width:1440px) and (min-width:801px){
    

body{
    background-color: hsl(233, 47%, 7%);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    
}


#container{
    position: relative;
    width: 1080px;
    height: 446px; 
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: aliceblue;
}

.conteudo-principal{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgb(27,25,56);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 70px;
  
}
.texto-principal,
.estatos{
    width: 380px;

}
.estatos{
    display: flex;
    justify-content: space-between;
}



.cor-de-fundo{
   background-color:rgba(170, 91,219, .5);
    width: 540px;
    height: 446px;
    position:relative;  
    margin-bottom: 0;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}
.imagem-de-fundo{
    position: relative;
    top: -446px;
    border-radius: 0 10px 10px 0;
    
}



#texto-destaque{
    font-size: 35px;
    margin-bottom: 30px;
}
.texto-estatos{
    
    font-size: 25px;
    
}

.roxo{
    font-size: 35px;
    color: rgba(170, 91,219, 1);
}

.cinza{
    color: hsla(0, 0%, 100%, 0.6);
}

 .uppercase{
    padding-top: 5px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
}

}

@media(min-width:270px) and (max-width:800px){
 
    body{
        background-color: hsl(233, 47%, 7%);
        color: white;
       display: flex;
       align-items: center;
       justify-content: center;
        min-height: 100vh;
        font-family: "Lexend Deca", sans-serif;
    }

    #container{
        margin-top: 50px;
        margin-bottom: 50px;
        
        width: 350px;
        background-color: rgb(27,25,56);
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #texto-destaque{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .texto-estatos{
      
        padding-top: 30px;
        font-size: 20px;
        
    }
    .ultimo{
        padding-bottom: 20px;
    }
    .roxo{
        font-size: 30px;
        color: rgba(170, 91,219, 1);
    }
    .conteudo-principal{
        
        width: 330px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top:300px;
    }
    .conteudo-principal p{
        text-align: center;
    }

    .texto-principal,
    .estatos{
        width: 300px;
        padding: 10px;

    }

    .estatos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #imagem{
        position: absolute;
        
        
    }

    .cor-de-fundo{
        background-color:rgba(170, 91,219, .5);
         width: 350px;
         height: 290px;
         position:absolute;  
         margin-bottom: 0;
         z-index: 1;
         border-radius: 10px 10px 0px 0;
     }
     .imagem-de-fundo{
        position: relative;
        border-radius: 10px 10px 0px 0;
        width: 350px;
        
    }
   
  
    
    .cinza{
        color: hsla(0, 0%, 100%, 0.6);
    }
    .uppercase{
        padding-top: 5px;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        letter-spacing: 3px;
    }
 
 
}


